{% extends 'base.html' %}
{% load static %}

{% block content %}
    
        <section class="content">
            <div class="container">
                <h1 class="gradient-text">NetConference 2021</h1>
                <p>
                    The NetConference 2021 is calling upon participants to take part in the upcoming conference 
                    running through a sprint of 4 days from May 17 - May 20 at Uganda Christian University Nkoyoyo hall.
                    <br>For any other inquiries,
                    <a class="underline" href="">please let us know.</a>
                </p>
                <br>
                <a class="button">
                    REGISTER
                </a>
            </div>
        </section>
        <hr>
        <hr class="gradient">
        <section class="speakers">
            <h1>Researchers</h1>
            <ul class="speaker-list">

            {% for researcher in object_list %}
                <li>
                    <img alt="researcher" src="{{ researcher.picture.url }}">
                    <h3>{{ researcher.topic_to_Present }}</h3>
                    <h4>N:{{ reseacher.name }}</h4>
                    <h5>T:{{ reseacher.title }}</h5>
                </li>
            {% endfor %}
                
            </ul>
        </section>
        <!-- <hr class="gradient"> -->
        <!-- <hr> -->
        <section class="attends">
            <h2>Why attend?</h2>

            <h4 class="text-gradient-purple">Learn from the best</h4>
            <p>Three channels of content dedicated to developers, enterprise teams, and college students.</p>

            <h4 class="text-gradient-purple">Get the latest</h4>
            <p>New product announcements and deep dives.</p>

            <h4 class="text-gradient-purple">Connect beyond content</h4>
            <p>Networking and learning opportunities, from Workshops to mentoring sessions.</p>

            <h4 class="text-gradient-purple">Have fun along the way</h4>
            <p>Musical performances inspired by code and a few more surprises to come!</p>
        </section>
        <hr class="gradient">
        <!-- <hr> -->
        <section class="subscribe">
            <p>
                We’re adding more speakers every day!<br>Sign up for updates to stay in the loop.    
            </p>
            <br>
            <a href="#subscribe" class="button" target="_blank">
                <span>Subscribe for updates</span>
            </a>
        </section>
        <hr class="gradient">
        <section class="sponsors">
            <div class="container">
                <h4>Thank you to our Partners</h4>
                <ul class="sponsor-list">
                
                    
                    <li>
                        <a href="/sponsors/bridgecrew/" data-ga-click="Home, click, cta_text: open Bridgecrew page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Bridgecrew.svg" alt="Bridgecrew">
                        </a>
                    </li>
                    <li>
                        <a href="/sponsors/whitesource/" data-ga-click="Home, click, cta_text: open WhiteSource page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Whitesource.svg" alt="WhiteSource">
                        </a>
                    </li>
                    <li>
                        <a href="/sponsors/ponicode/" data-ga-click="Home, click, cta_text: open Ponicode page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/ponicode.svg" alt="Ponicode">
                        </a>
                    </li>
                    <li>
                        <a href="/sponsors/azure/" data-ga-click="Home, click, cta_text: open Microsoft Azure page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Azure-Stacked-White%20(1).png" alt="Microsoft Azure">
                        </a>
                    </li>
                    <li>
                        <a href="/sponsors/zenhub/" data-ga-click="Home, click, cta_text: open ZenHub page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/zenhub.svg" alt="ZenHub">
                        </a>
                    </li>
                    <li>
                        <a href="/sponsors/accurics/" data-ga-click="Home, click, cta_text: open Accurics page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Accurics_Monochromatic_Logo%20(1).png" alt="Accurics">
                        </a>
                    </li>
                    <li>
                        <a href="/intuit/" data-ga-click="Home, click, cta_text: open Intuit page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Intuit_Logo.svg" alt="Intuit">
                        </a>
                    </li>
                    <li>
                        <a href="/CircleCI/" data-ga-click="Home, click, cta_text: open CircleCI page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/circle-logo-horizontal-white-1200x341%20(1).svg" alt="CircleCI">
                        </a>
                    </li>
                    <li>
                        <a href="/sponsors/intel/" data-ga-click="Home, click, cta_text: open Intel Corporation page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Intel_logo-white-3000px.png" alt="Intel Corporation">
                        </a>
                    </li>
                    <li>
                        <a href="/stackpulse/" data-ga-click="Home, click, cta_text: open StackPulse page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/stackpulse_white_lockup.png" alt="StackPulse">
                        </a>
                    </li>
                    <li>
                        <a href="/securecodewarrior/" data-ga-click="Home, click, cta_text: open Secure Code Warrior page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/scw_white_h_R.svg" alt="Secure Code Warrior">
                        </a>
                    </li>
                    <li>
                        <a href="/Lightstep/" data-ga-click="Home, click, cta_text: open Lightstep page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Lightsteplogo-medium-white.png" alt="Lightstep">
                        </a>
                    </li>
                    <li>
                        <a href="/datree/" data-ga-click="Home, click, cta_text: open Datree page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Datree_Logo_1_color%20(1).png" alt="Datree">
                        </a>
                    </li>
                    <li>
                        <a href="/hasicorp/" data-ga-click="Home, click, cta_text: open HashiCorp page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/HashiCorp_PrimaryLogo_White_RGB.png" alt="HashiCorp">
                        </a>
                    </li>
                    <li>
                        <a href="/sponsors/saucelabs/" data-ga-click="Home, click, cta_text: open Sauce Labs page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Sauce-Labs_Vert_White_RGB.svg" alt="Sauce Labs">
                        </a>
                    </li>
                    <li>
                        <a href="/contrastsecurity/" data-ga-click="Home, click, cta_text: open Contrast Security page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Contrast_Security%20Logo%20(white).svg" alt="Contrast Security">
                        </a>
                    </li>
                    <li>
                        <a href="/snyk/" data-ga-click="Home, click, cta_text: open Snyk page">
                        <img src="https://githubuniverse.com/assets/img/sponsors/Snyk-white%20(1).png" alt="Snyk">
                        </a>
                    </li>  
                </ul>
                <p>Interested in <a class="underline" href="">sponsoring</a> GitHub Universe?</p>
                <br>
                <a class="button">
                    CONTACT US
                </a>
            </div>
        </section>
        <section class="updates">
            <p class="signup-text"><a class="underline" href="">Sign up</a> for the latest GitHub Universe updates</p>
            <p class="follow-text">Follow the event <span class="text-gradient-purple">#GitHubUniverse</span></p>
            <ul class="linear-list">
                <li>
                    <a href="">
                        <img src="https://githubuniverse.com/assets/img/svgs/twitter.svg">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://githubuniverse.com/assets/img/svgs/linkedin.svg">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://githubuniverse.com/assets/img/svgs/instagram.svg">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://githubuniverse.com/assets/img/svgs/youtube.svg">
                    </a>
                </li>
            </ul>
        </section>
{% endblock content %}