{% extends 'base.html' %}
{% load static %}

{% block content %}
    
        <section class="content">
            <div class="container">
                <h1 class="gradient-text">NetConference 2021</h1>
                <p>
                    The NetConference 2021 is calling upon participants to take part in the upcoming conference 
                    running through a sprint of 4 days from May 17 - May 20 at Uganda Christian University Nkoyoyo hall.
                    <br>For any other inquiries,
                    <a class="underline" href="{% url 'contact' %}">please let us know.</a>
                </p>
                <br>
                <a href="{% url 'register' %}" class="button">
                    REGISTER
                </a>
            </div>
        </section>
        <hr>
        <hr class="gradient">
        <section class="speakers">
            <h1>Researchers</h1>
            <ul class="speaker-list">

            {% for researcher in researchers %}
                <h4>{{ researcher.name }}</h4>
                <li>
                    <img alt="researcher" src="{{ researcher.picture.url }}">
                    <h3>{{ researcher.topic_to_Present }}</h3>
                    <h5>{{ researcher.title }}</h5>
                </li>
                
            {% endfor %}
                
            </ul>
        </section>
        <!-- <hr class="gradient"> -->
        <!-- <hr> -->
        <section class="attends">
            <h2>Why attend?</h2>

            <h4 class="text-gradient-purple">Learn from the best</h4>
            <p>Three channels of content dedicated to developers, enterprise teams, and college students.</p>

            <h4 class="text-gradient-purple">Get the latest</h4>
            <p>New product announcements and deep dives.</p>

            <h4 class="text-gradient-purple">Connect beyond content</h4>
            <p>Networking and learning opportunities, from Workshops to mentoring sessions.</p>

            <h4 class="text-gradient-purple">Have fun along the way</h4>
            <p>Musical performances inspired by code and a few more surprises to come!</p>
        </section>
        
        <hr class="gradient">
        <section class="subscribe">
            <div class="container">
                <h4>Thank you to our Partners</h4>
                <ul class="sponsor-list">
                
                    {% for partner in partners %}
                    <li>
                        <a href="" data-ga-click="Home, click, cta_text: open Bridgecrew page">
                        <img src="{{ partner.picture.url }}" alt="Bridgecrew">
                        </a>
                    </li>
                    {% endfor %}
                     
                </ul>
                <br>
                <a href="{% url 'contact' %}" class="button">
                    CONTACT US
                </a>
            </div>
        </section>
        <section class="updates">
            <p class="signup-text"><a class="underline" href="{% url 'register' %}">Sign up</a> to participate in the NetConference 2021</p>
            <p class="follow-text">Follow the event <span class="text-gradient-purple">#NetConference</span></p>
            <ul class="linear-list">
                <li>
                    <a href="">
                        <img src="https://githubuniverse.com/assets/img/svgs/twitter.svg">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://githubuniverse.com/assets/img/svgs/linkedin.svg">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://githubuniverse.com/assets/img/svgs/instagram.svg">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="https://githubuniverse.com/assets/img/svgs/youtube.svg">
                    </a>
                </li>
            </ul>
        </section>
        <hr class="gradient">
{% endblock content %}