{% load static %}
<!Doctype html>

    <head>
    <title>Net Conference 2021</title>
        <link rel="icon" href="{% static 'images/faviucu.png' %}">
        <link rel="stylesheet" href="{% static 'css/style2.css' %}">
        <link id="theme-style" rel="stylesheet" href="{% static 'css/theme.css' %}">

    </head>
    <body>
        <header>
        <strong style="color: white; background-color: white;">
            <img class="logo" src="{% static 'images/uculogo.png' %}">
        </strong>
            <div class="time">May 17 - May 20</div>
            
            <nav>
                <li><a style="color: white;" href="{% url 'index' %}">Home</a></li>
                <li><a style="color: white;" href="{% url 'program' %}">Program/Schedule</a></li>
                <li><a style="color: white;" href="{% url 'committee' %}">Committee</a></li>
                <li><a style="color: white;" href="{% url 'contact' %}">Contact</a></li>
            </nav>
        </header>

        {% block content %}

        {% endblock content %}
        
        <footer style="background-color: black;">
            <ul class="linear-list">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'program' %}">Program/Schedule</a></li>
                <li><a href="{% url 'committee' %}">Committee</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <a href="">
                <img src="{% static 'images/uculogo.png' %}">
            </a>
            <p class="copyright gradient-text">© 2021 NetConference. All rights reserved.</p>
        </footer>
    <script src="{% static 'plugins/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'plugins/popper.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>  
	<script src="{% static 'plugins/back-to-top.js' %}"></script>
	<script src="{% static 'plugins/jquery.scrollTo.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
    </body>
</html>